<div align="center">
    <img src="https://upload.wikimedia.org/wikipedia/commons/a/a3/University_of_Isfahan-Logo.png" width="100" height="100">
</div>

<div dir="rtl" align="center">
  <h1> </h1>
  <h4> Isfahan University - Computer Science </h4>
  <h4 style="color:#3399FF"> Machine Learning </h4>
  <hr>
  <h2 style="color:#006633"> <strong>HW1: introduction to libraries: numpy, pandas and matplotlib</strong> </h2>
  <hr>
</div>

<h4> 1402/12/10 to <u style="color:#FF6666">1402/12/17 - 23:00</u> </h4>
<h3> Your Student ID:  </h3>
<h3> Your Name:  </h3>
<hr>

### import libraries

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns

from matplotlib import pyplot as plt
from sklearn.datasets import make_classification

### Questions

<strong style="color:red "> Q1. </strong> generate random dataset from `make_classification` function. Consider the following points:
- number of samples: 10000
- number of features: 6
- number of informative features: 3
- number of classes: 3
- random state: your `student_id`

<strong style="color:red "> Q2. </strong> convert generated random dataset to `pd.DataFrame`. <ln>

**(hint: put data and target separately to the `pd.DataFrame`)**

<strong style="color:red "> Q3. </strong> rename columns from `0,1, ..., 5` to `f1, f2, ..., f6` and save it.

**(hint: for saving, you can use `inplace` argument)**

<strong style="color:red "> Q4. </strong> show the first **10** row.

<strong style="color:red "> Q5. </strong> show the last **10** row.

<strong style="color:red "> Q6. </strong> show the 100th to 110th row.

**(hint: you can use `loc` or `iloc`.)**

<strong style="color:red "> Q7. </strong> show the 100th to 110th row with `f1` and `f2` columns.

<strong style="color:red "> Q8. </strong> show the even rows.

<strong style="color:red "> Q9. </strong> check type of columns.

<strong style="color:red "> Q10. </strong> get `mean` of features.

<strong style="color:red "> Q11. </strong> get `max` of `mean` of features.

<strong style="color:red "> Q12. </strong> get `mean` of features from 100th to 110th row.

<strong style="color:red "> Q13. </strong> get `std` of features.

<strong style="color:red "> Q14. </strong> get square (power of 2) of `std` of features.

<strong style="color:red "> Q15. </strong> count the values of each class.

<strong style="color:red "> Q16. </strong> show rows where the `f1 > 1`.

**(hint: you can use `query` function.)**

<strong style="color:red "> Q17. </strong> show rows where the `f2 > 0` and `target == 1`.

<strong style="color:red "> Q18. </strong> sum the `f1` and `f3` feature together and put it in a new column called `f7`.

<strong style="color:red "> Q19. </strong> subtract the `f1` from its `mean` and then divide it by its `std`.

<strong style="color:red "> Q20. </strong> plot `f1` into `one` axes, with `figsize=(10, 3)`.

<strong style="color:red "> Q21. </strong> plot `f1` into `one` axes, with:
- set figsize to (10, 3)
- set title to "f1's values"
- set xlabel to "samples"
- set ylabel to "f1"

<strong style="color:red "> Q22. </strong> plot **first 100th row** of`f1` into `one` axes, with:
- set figsize to (10, 3)
- set title to "f1's values"
- set xlabel to "samples"
- set ylabel to "f1"
- **set legend to "first 100th of f1"**

<strong style="color:red "> Q23. </strong> plot **first 100th row** of `f1` into `one` axes and also plot `mean` of the first 100th row of the `f1` as a horizontal line, with:
- set figsize to (10, 3)
- set title to "f1's values"
- set xlabel to "samples"
- set ylabel to "f1"
- set legend of first 100th of `f1` to "first 100th of f1"
- **set legend of `mean` of first 100th of `f1` to "mean"**

<strong style="color:red "> Q24. </strong> plot scatter of `f2` and `f3`, with:
- set figsize to (4, 4)
- set title to "scatter of f2 and f3"
- set xlabel to "f2"
- set ylabel to "f3"

<strong style="color:red "> Q25. </strong> plot scatter of `f2` and `f3` along with their targets, with:
- set figsize to (4, 4)
- set title to "scatter of f2 and f3"
- set xlabel to "f2"
- set ylabel to "f3"
- **set legend of each classes to `0, 1 and 2`**

**(hint: to specify the target color of each instance, you can use the `c` argument.)**

<strong style="color:red "> Q26. </strong> plot heatmap of correlation, with:
- set figsize to (7, 7)
- set annotation to True
- set linewidth to 2
- set cmap to "Blues"

**(hint: to plot of heatmap of correlation, you can look for this function in the `seaborn` library.)**

<strong style="color:red "> Q27. </strong> plot histogram of `f4`, with:
- set figsize to (6, 6)
- set kde to True

**(hint: to plot of histogram, you can use `sns.histplot()` function.)**

<strong style="color:red "> Q28. </strong> plot histogram of `f4` and `f2` into `one` axes, with:
- set figsize to (6, 6)
- set kde to True
- set multiple to "stack"

<strong style="color:red "> Q29. </strong> plot histogram of all features and all of their pair scatter, with:
- set hue to "target"

**(hint: you can look for this function in the `seaborn` library or implement it yourself)**